/* Reset some default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars from appearing */
    touch-action: none; /* Disables browser pinch-to-zoom and swipe-to-scroll */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Style for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	font-weight: bold;
}

h1 {
	flex-shrink: 0;
}

#canvas-container {
    flex: 1;
    overflow: hidden;
}

#canvas-container canvas {
    display: block;
}

/* Style for paragraphs */
p {
	margin-bottom: 1rem;
}

/* Default link styles */
a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
